.main__contact.row
    .main__contact-content
        .main__info#info
                .main__info-register
                    h2.main__info-title РАССРОЧКА И КРЕДИТ 
                    p.main__info-descr Узнайте сейчас, как преобрести кухню своей мечты в кредит, заполнив форму:
                    form.main__info-form#form(action="/" method="POST") 
                        label.main__info-label  
                            input.main__info-input.input(type="text" placeholder="Имя" name="name")
                        label.main__info-label  
                            input.main__info-input.input(type="text" placeholder="Номер телефона" name="number")
                        .main__info-btns.btns 
                            button.main__info-btn.btn Отправить заявку
                            p Нажимая на кнопку вы даете согласие на обработку данных
                    p.main__info-text Да, у нас - выгодно и без переплат
                .main__info-image
                    img.main__info-img(src="images/6.png", alt="")
                    img.main__info-img(src="images/7.png", alt="")
                    img.main__info-img(src="images/8.png", alt="")
        .main__adress.row#contacts 
                .main__adress-location
                    h2.main__adress-title ПОСЕТИТЕ НАШЕ ПРОИЗВОДСТВО
                    p.main__adress-descr И узнайте, как мы делаем кухни немецкого качества по лучшей в Сочи цене
                    ul.main__adress-list 
                        li.main__adress-li Адрес:
                            p.main__adress-p Лавровая 13А
                        li.main__adress-li Телефон:
                            p.main__adress-p +7 (962) 88-777-51
                        li.main__adress-li Режим работы:
                            p.main__adress-p Пн-Вс с 9:00 до 21:00
                    .main__adress-btns 
                        button.main__adress-btn.button Бесплатный замер
                        p Звонки и заявки с сайта принимаются без выходных
                    .main__adress-text Скажите, что пришли с сайта и получите скидку 20%
                .main__adress-map
                    <div style="position:relative;overflow:hidden;"><a href="https://yandex.uz/maps/239/sochi/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Сочи</a><a href="https://yandex.uz/maps/239/sochi/house/lavrovaya_ulitsa_13/Z0AYcQVgSUAFQFppfXpycXRmZQ==/?display-text=%D0%BB%D0%B0%D0%B2%D1%80%D0%BE%D0%B2%D0%B0%D1%8F%2013%D0%B0&ll=39.720137%2C43.630762&mode=search&sctx=ZAAAAAgAEAAaKAoSCZj3ONOESlFAEV67tOGwekRAEhIJrrfNVIhHqj8Ri06WWu83mj8iBgABAgMEBSgKOABA1ckLSAFqAnV6nQHNzEw9oAEAqAEAvQFKUmJ5wgEZAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAOoBAPIBAPgBAIICFdC70LDQstGA0L7QstCw0Y8gMTPQsIoCAJICAJoCDGRlc2t0b3AtbWFwcw%3D%3D&sll=39.720053%2C43.630851&sspn=0.012481%2C0.005965&text=%D0%BB%D0%B0%D0%B2%D1%80%D0%BE%D0%B2%D0%B0%D1%8F%2013%D0%B0&utm_medium=mapframe&utm_source=maps&z=18.64" style="color:#eee;font-size:12px;position:absolute;top:14px;">Лавровая улица, 13 — Яндекс Карты</a><iframe src="https://yandex.uz/map-widget/v1/-/CCUR4JcB~B" width="100%" height="100%" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
