*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    &:before,
    &:after {
        font-family: 'Webfonts';
    }
}   
a {
    text-decoration: none;
}   
ul {
    list-style: none;
}
body {
    background: $Light;
}
.anchor{
    position: absolute;
    top: 0;
}
.close{
    font-size: 42px;
    color: var(--text);
    position: absolute;
    top: 3%;
    right: 5%;
}
button,
input{
    outline: none;
    border: none;
    background: none;
}

::-webkit-scrollbar {
    width: 0;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #3FA5D5, purple);
    border-radius: 30px; 
}
.spots{
    max-width: 475px;
    width: 100%;
    height: 535px;
    position: absolute;
    z-index: -10;
    @include media($xs){
        max-width: 320px;
        width: 100%;
        height: 320px;
    }
}
#form2{
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 40px;
    @include media($xl){
        flex-wrap: wrap;
    }
}
#form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}
.button{
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    font-family: 'Montserrat';
    transition: all 0.5s;
}
.btn{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 105%;
    width: 460px;
    height: 60px;
    background: #102F28;
    color: var(--white);
    transition: all 0.5s;
    &:hover{
    background: $black;
    }
    @include media($sm){
        max-width: 460px;
        width: 100%;
    }
        // @include input();
}
.btns{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.label{
    max-width: 460px;
    width: 100%;
    height: 60px;
}
.input{
    font-family: 'Montserrat';
    font-size: 16px;
    background: var(--Light);
    border: 1px solid var(--text);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    color: var(--text);
    max-width: 460px;
    width: 100%;
    height: 60px;
}

.title{
    @include title();
}
// .input,.label{
    // @include input();
// }
.container {
    @include container();
}
.row {
    @include row(0);
}

.icon {
    &-moon::before{
        content: '\f186';
        font-weight: 900;
    }
    &-call::before{
        content: '\10f87b';
        font-weight: 900;
    }
    &-fb::before{
        content: '\f09a';
        font-weight: 400;
    }
    &-menu::before{
        content: '\f87b';
        font-weight:300;
    }
    &-burger::before {
        content: '\f0c9';
        font-weight: 300;
    }
    &-tg::before {
        content: '\f2c6';
        font-weight: 400;
    }
    &-left::before{
        content: '\f32e';
        font-weight: 700;
    }
    &-right::before{
        content: '\f330';
        font-weight: 700;
    }
    &-check::before{
        content: '\f00c';
        font-weight: 500;
    }
    &-clock::before{
        content: '\f017';
        font-weight: 300;
    }
    &-cross::before{
        content: '\f00d';
        font-weight: 300;
    }


    &-vk::before{
        content: '\f189';
        font-weight: 400;
    }
    &-file::before{
        content: '\f574';
        font-weight: 500;
    }
    &-search::before{
        content: '\f002';
        font-weight: 500;
    }
    &-user::before{
        content: '\f007';
        font-weight: 500;
    }
    &-cart::before{
        content: '\f07a';
        font-weight: 500;
    }
    &-heart::before{
        content: '\f004';
        font-weight: 400;
    }
    &-restrount::before{
        content: '\f2e7';
        font-weight: 300;
    }
    &-food::before{
        content: '\f814';
        font-weight: 300;
    }
    &-bed::before{
        content: '\f236';
        font-weight: 500;
    }
    &-coffee::before{
        content: '\f7b6';
        font-weight: 500;
    }
    &-spagetee::before{
        content: '\f6d6';
        font-weight: 400;
    }
    &-pie::before{
        content: '\f705';
        font-weight: 400;
    }
    &-pizza::before{
        content: '\f818';
        font-weight: 400;
    }
    &-meat::before{
        content: '\f814';
        font-weight: 500;
    }
    &-visa::before{
        content: '\f1f0';
        font-weight: 500;
    }
    &-mcard::before{
        content: '\f1f1';
        font-weight: 500;
    }
    &-card::before{
        content: '\f1f4';
        font-weight: 500;
    }
    &-pay::before{
        content: '\f42d';
        font-weight: 500;
    }

}