.result 
    .result__content 
        img.result__content-bg.bg6(src="images/lg1.png", alt="")
        img.result__content-bg.bg7(src="images/lg1.png", alt="")
        .result__content-check(href="#!")
        p.result__content-descr
        button.result__content-btn.btn Хорошо  