-let arr = ['Преимущества','Каталог','Партнеры','Рассрочка','Контакты'];
    .burger__bg
    ul.burger__menu
        each el in arr 
            li.burger__menu-li 
                a.burger__menu-link(href="#!")= el
                