main.main
    img.bg3.spots(src="images/lg1.png", alt="")
    img.bg4.spots(src="images/lg1.png", alt="")
    img.bg5.spots(src="images/lg1.png", alt="")
    img.bg6.spots(src="images/lg1.png", alt="")
    include main/catalog.pug
    include main/order.pug
    include main/contact.pug